/*=========================================
=            test2 style            =
=========================================*/

/* style responsive content */

@import '_styles/xs/test2Style.xs'
@import '_styles/sm/test2Style.sm'
@import '_styles/md/test2Style.md'
@import '_styles/lg/test2Style.lg'
