#global_container.padding-top
  #Content
    .pageWidth.privacySection
      #Content
        .Clear.Item10Separator
        div
          #Content
            div(id='root|site|pages|legalInfo|text1')
              p
                strong
                  span(style='color: #800000;')
                  span(style='color: #800000; font-size: 16px;') LEGAL & COPYRIGHT NOTICES
              p
                | Vehicle Distributors Australia
                br
                | Pty Ltd ABN 11 073 668 596 ("VDA")
                br
                | 260-284 Frankston Dandenong Road, Dandenong, Victoria, 3175
                br
              h5
                b DISCLAIMER
              p
                | Vehicles displayed on this site are overseas models and shown for illustrative purposes only. Australian vehicles may differ in characteristics, specifications, equipment, accessories and colours than shown on this site. All illustrations, information, specifications and prices on this site were correct at the time they were placed on this site. VDA reserves the right to discontinue or modify the vehicles without notice including the characteristics, specifications, equipment, accessories, design, colours and prices.
                br
              p
                | You should contact your nearest dealer for the latest information on models, price, specifications, options and availability.
                br
              p
                | Prices specified on this site are in Australian dollars and do not include the cost of any optional extras, or dealer and statutory charges. Vehicles shown on this site may be shown as fitted with optional extras.
                br
              p
                | To the extent permitted by law, VDA excludes any liability for any error or inaccuracy or omission in this site or any liability for any loss or damage any person suffers by relying on any information on this site, or accessing or using this site.
                br
                br
                | VDA takes no responsibility for the content of any linked sites maintained by other persons.
                br
              h5
                b COPYRIGHT
                br
              p
                | All copyright and other intellectual property rights in material on this site are the property of VDA, and may not be reproduced without the express written permission of VDA.
                br
              h5
                b PRIVACY POLICY
              h6
                b Introduction
                br
              p
                | Vehicle Distributors Australia Pty. Ltd. ABN 11 073 668 596 ("Renault") respects and upholds your rights under the National Privacy Principles contained in the Privacy Act 1988 (Cth) ("Privacy Act"). The National Privacy Principles apply to us.
                br
                br
                | This policy describes how we manage any personal information we have about you. In this policy "personal information" has the same meaning as under the Privacy Act).
                br
                br
                | We may change this policy from time to time. Although we intend to observe this policy at all times, it is not legally binding on Renault in any way. From time to time, we may regard it as necessary or desirable to act outside the policy. Renault may do so, subject only to any other applicable contractual rights you have and any statutory rights you have under the Privacy Act or other applicable legislation.
                br
              h6
                b What personal information about you does Renault hold?
                br
                br
                | Renault may hold the following information about you:
                br
                br
              div(style='margin-left: 20px;')
                | • Name, address, telephone number(s);
                br
                | • Vehicle purchase date;
                br
                | • Vehicle details;
                br
                | • Name of selling dealer;
                br
                | • Any additional information you provide, such as when you contact our Customer Relations Department, log in to our web site, or call us for roadside assistance; and
                br
                | • Any information you may provide to us.
                br
              h6
                b What does Renault do with your personal information?
                br
                br
                | We use your personal information for the purposes of –
              div(style='margin-left: 20px;')
                | • Fulfilling our ongoing obligations (including warranty, recall and roadside assistance) to you as the owner/driver of a vehicle we have imported and distributed; or
                br
                | • Forwarding you further information regarding the Renault vehicle range and our dealers, organising test drive, and/or responding to any inquiries or comments that you submit to us.
              br
              br
              | We may also use it for customer service requirements, direct mail, market research, and product development purposes.
              br
              br
              | At any time you may opt out of receiving any communications from us (other than as required for our primary purposes or by law). To do so call Freecall 1800 009 008.
              br
              h6
                b Who will Renault disclose your personal information to?
                br
                br
                | Renault may disclose your personal information on a confidential basis to:
                br
              div(style='margin-left: 20px;')
                | • The advisors, consultants and contractors it ordinarily engages for the above purposes;
                br
                | • Its related companies; or
                br
                | • One or more of our dealers on condition that they use it for the same purposes as set out above and only in connection with the Renault franchise.
              br
              br
              | Renault will take responsible steps to protect the personal information we hold from misuse and loss and from unauthorised access, modification or disclosure.
              br
              br
              b OPENNESS
              br
              br
              | You may request access to personal information we hold about you by contacting the Manager Customer Service at the address below. Where we hold information that you are entitled to access, we will endeavour to provide you with a suitable range of choices as to how access is provided (e.g. Emailing or mailing it to you).
              br
              br
              | If at any time you believe that personal information we hold about you is incorrect, incomplete or inaccurate, then you may request amendment of it, and we will either amend the information or make a record of your comment, as we think appropriate.
              br
              br
              | Any questions about this policy, or any complaint regarding treatment of your privacy by Renault, should be made in writing to the address below.
              br
              br
              b
                | Manager Customer Service
                br
                | Vehicle Distributors Australia Pty. Ltd.
                br
                | Locked Bag 1450
                br
                | DANDENONG SOUTH VIC 3164
                br
                | Phone: (03) 9797 4333
                br
                | Fax: (03) 9797 4303
              br
              h5
                b RENAULT WEBSITE
              | In general you can visit the Renault website without telling us who you are. The amount of information that you provide to Renault will depend on the range and number of services that you choose to use. Particular sections of the Renault website may require you to provide Renault with personal information, including your name and email address. Personal information will only be requested if it is necessary to provide a service to you or if it is necessary by law to collect the information.
              br
              br
              | We do not currently use cookies on our website to collect personal information about you.
              br
              br
              | By using the Renault website you agree that the Internet is inherently insecure and that accordingly we can only use our best endeavours to secure your personal information and cannot provide any definitive assurance regarding security of personal information. Other than liability which cannot lawfully be excluded, Renault will not be liable in any way in relation to any breach of security or any unintended loss or disclosure of that information.
        .Clear
  .push
