doctype html
html
  head
    title Getting Cozy with Browserify
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    // build:css bundle.css
    // bower:css
    // endbower
    // inject:vendor:css
    // endinject
    // inject:css
    // endinject
    // endbuild
  body
    .container
      h2 Welcome to the Client Side.
      .well
        p Test 2
        #response
    // build:js bundle.js
    // bower:js
    // endbower
    // inject:vendor:js
    // endinject
    script(src='app/core/app.modules.js')
    script(src='app/core/app.setup.js')
    script(src='app/core/app.routes.js')
    script(src='app/core/app.constants.js')
    // inject:js
    // endinject
    // endbuild
