/*=========================================
=            _component_ style            =
=========================================*/

/* style responsive content */

@import '_styles/xs/_component_Style.xs'
@import '_styles/sm/_component_Style.sm'
@import '_styles/md/_component_Style.md'
@import '_styles/lg/_component_Style.lg'
